<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block banner%}
{% endblock banner%}
{% block titulo%}
{% endblock titulo%}

<!-- MENU -->
{% if user.is_authenticated%}
    <h4>Bem-vindo {{user.username}}
        <a href="{% url 'logout_view' %}">logout</a>
    </h4>
{% else %}
    <a href="{% url 'login' %}"> Login </a>
    <a href="{% url 'cadastro' %}"> Cadastrar </a>
{% endif %}

<!-- FIM MENU -->

{% block content %}
{% endblock content %}
</body>
</html>