{% extends 'app_blogs/base.html' %}
{% block banner %}
<h4>BANNER</h4>
{% endblock banner %}

{% block titulo %}
<h4>Título</h4>
{% endblock titulo %}

{% block content %}

<h4>Novo Post</h4>

<form method="post" action="{% url 'editar_post' post.id %}">
    {% csrf_token %}
    {{form.as_p}}
    <button name="submit">Postar</button>
</form>

{% endblock content %}