{% extends 'app_blogs/base.html' %}
{% block banner %}
<h4>BANNER</h4>
{% endblock banner %}

{% block titulo %}
<h4>Título</h4>
{% endblock titulo %}

{% block content %}

<p><a href="{% url 'novo_post' %}">Novo Post</a></p>

<ul>
    {% for post in posts %}
    <li>
        {{post}}
        <ol>
           <li>{{post.text}}</li>
            <a href="{% url 'editar_post' post.id %}">Editar</a>
        </ol>
    </li>

    {% empty %}

    {% endfor %}
</ul>

{% endblock content %}