{% extends 'app_blogs/base.html' %}

{% block titulo%}
<h4>Página de cadastro</h4>
{% endblock titulo %}

{% block content %}
<form action="{% url 'cadastro' %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button name="cadastrar">Cadastrar</button>
    <input type="hidden" name="next" value="{% url 'index' %}">

</form>
{% endblock content %}