{% extends 'app_blogs/base.html' %}

{% block banner %}
<h1>BANNER</h1>
{% endblock banner %}

{% block titulo %}
<h4>Título</h4>
{% endblock titulo %}

{% block content %}

<!-- MENU -->
<a href="{% url 'index' %}"> Home </a>
<!-- FIM MENU -->

    {% if form.errors %}
        <p>Login ou senha errada.</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button name="submit">Entrar</button>
        <input type="hidden" name="next" value="{% url 'index' %}">
    </form>
{% endblock content %}